.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.item{
  width: 65%;
  background-color: #545557;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
  font-size: 1.25em;
  border-radius: 10px;
}

.item > p{
  margin: auto;
  margin-right: 20px;
  margin-left: 0;
}

.item > .point {
  margin: auto 0 auto auto;
}

.gold{
  background-color: #C9B037;
  font-weight: bold;
  width: 78%;
}
.gold > .nama{
  font-size: 2em;
}
.silver{
  background-color: #B4B4B4;
  font-weight: bold;
  width: 75%;
}
.silver > .nama{
  font-size: 1.75em;
}
.bronze{
  background-color: #AD8A56;
  font-weight: bold;
  width: 70%;
}
.bronze > .nama{
  font-size: 1.5em;
}

.title{
  color: rgb(93, 214, 93);
}
.title img{
  max-width: 60vw;
}